homeworks/HW_2/HW_2_Martin_Kunz.pdf
homeworks/HW_2/HW_2_Notebook.pdf
homeworks/HW_2/build
homeworks/HW_2/shell-escape
homeworks/HW_1/HW_1_Martin_Kunz.pdf
homeworks/HW_1/HW_1_Notebook.pdf
homeworks/HW_1/build
homeworks/HW_3/build/HW_3_Martin_Kunz
homeworks/HW_3/shell-escape
homeworks/HW_3/HW_3_Martin_Kunz_1.pdf
InverseProblemsImagingGuideandPlan2024.pdf
lectures/Week 02/NumericalDifferentiation.m
lectures/Week 01/Introduction_to_Inverse_Problems_and_Imaging__02624_.pdf
lectures/Week 01/Q1.png
lectures/Week 01/Q2.png
lectures/Week 01/Q3.png
homeworks/HW_2/pygments-julia/
homeworks/HW_3/pygments-julia/
